body{
  background: linear-gradient(120deg,#ffafbd,#ffc3a0);
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  margin:0;
  font-family: Arial, sans-serif;
}

/* CARD */
.container{
  background:white;
  padding:35px;
  width:330px;
  border-radius:22px;
  text-align:center;
  box-shadow:0 0 20px pink;
  animation:fade 1.5s ease;
}

@keyframes fade{
  from{opacity:0;transform:translateY(30px);}
  to{opacity:1;transform:translateY(0);}
}

h1{
  color:#ff477e;
}

img{
  width:200px;
  margin:20px 0;
}

/* BUTTONS */
.buttons{
  display:flex;
  justify-content:space-around;
}

button{
  padding:12px 24px;
  border:none;
  border-radius:12px;
  font-size:18px;
  cursor:pointer;
  transition:0.3s;
}

#yesBtn{
  background:#38b000;
  color:white;
}

#noBtn{
  background:#ff4d6d;
  color:white;
  position:relative;
}

button:hover{
  transform:scale(1.15);
}

/* EFFECTS */
.confetti,.heart{
  position:fixed;
  top:-10px;
  width:12px;
  height:12px;
  animation:fall linear forwards;
  border-radius:50%;
  z-index:9999;
}

.heart{
  background:red;
  transform:rotate(45deg);
}

.heart::before,
.heart::after{
  content:"";
  position:absolute;
  width:12px;
  height:12px;
  background:red;
  border-radius:50%;
}

.heart::before{top:-6px;}
.heart::after{left:-6px;}

@keyframes fall{
  to{transform:translateY(100vh) rotate(720deg);}
}

#message{
  color:#ff477e;
  font-size:22px;
}

#countdown{
  font-weight:bold;
  margin-top:10px;
}
